*{
  margin: 0;
  padding: 0;

}

/* body{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.log-form{
  margin: 10px;
  width: 400px;
  height: 300PX;
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #fff;
  background-image:linear-gradient(45deg,
  rgba(245,70,66, 0.75),
  rgba(8,83,156, 0.75)) ,url(/public/img/laptop.jfif);
  position: relative;
   top: 200px;
   left: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-form{
  width: 400px;
  height: 100%;
  padding: 20px;
  border: 2px solid black;
  border-radius: 0 15px 0 15px;
  position: relative;
  top: 30px;
  left: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
background-image:linear-gradient(45deg,
rgba(245,70,66, 0.75),
rgba(8,83,156, 0.75)), url(/public/img/pic.png);
background-repeat: no-repeat;
box-shadow: -20px -6px 32px 10px rgba(245,157,157,1);
}
